---
import TheExperience from "../components/TheExperience.vue";
import Gridbackground from "../components/Gridbackground.astro";
import Layout from "../layouts/Layout.astro";
import WorkCarousel from "../components/WorkCarousel.astro";
---

<Layout title="Welcome to Astro.">
	<!-- <TheExperience client:load /> -->
	<Gridbackground />

	<section class="content py-6">
		<div class="text-center">
			<h1>My work</h1>
		</div>
		<!-- Ablums -->
		<div class="works">
			<div class="text-center">
				<h2>Album Cover</h2>
			</div>
			<WorkCarousel />
		</div>
		<!-- Apparel Design -->
		<div></div>
		<!-- UI UX -->
		<div></div>
	</section>
</Layout>
