---
import TheExperience from "../components/TheExperience.vue";
import Gridbackground from "../components/Gridbackground.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<!-- <TheExperience client:load /> -->
	<Gridbackground />

	<section class="content py-6">
		<div class="text-center">
			<h1>My work</h1>
		</div>
	</section>
</Layout>
