---
import TheExperience from "../components/tresjs/TheExperience.vue";
import Gridbackground from "../components/Hero-Sections/Gridbackground.astro";
import Layout from "../layouts/Layout.astro";
import WorkCarousel from "../components/WorkCarousel.astro";
import ApparelDesign from "../components/ApparelDesign.astro";
import Uiux from "../components/Uiux.astro";
---

<Layout title="Home Page - Juan Bohórquez">
	<!-- <TheExperience client:load /> -->
	<Gridbackground />

	<!-- homepage works -->
	<section class="content py-6">
		<div class="text-center">
			<h1>My work</h1>
		</div>
		<!-- Ablums -->
		<div class="works py-6">
			<div class="d-flex justify-content-center">
				<h3>Album Cover</h3>
			</div>
			<WorkCarousel section="album" />
		</div>
		<div class="works py-6">
			<div class="d-flex justify-content-center">
				<h3>APPAREL DESIGN</h3>
			</div>
			<ApparelDesign section="apparel" />
		</div>
		<div class="works py-6">
			<div class="d-flex justify-content-center">
				<h3>UX UI</h3>
			</div>
			<Uiux section="uiux" />
		</div>
	</section>

	<!-- About Me section -->
	<section class="about-me container-fluid">
		<div class="container h-100">
			<div class="grid-left col-5">
				<h2>ABOUT ME</h2>
				<p class="fancy">GRAPHIC DESIGNER WEB DESIGNER</p>
				<p>
					I am Juan Bohorquez a graphic designer, UX/UI designer and
					web developer based in miami Florida.
				</p>
				<a href="">
					<button class="btn">Learn More</button>
				</a>
			</div>
		</div>
	</section>

	<!-- Become A Client -->
	<section class="container-fluid client p-relative py-6">
		<div class="overlay-darker"></div>
		<div class="container py-6 text-center p-relative">
			<h2 class="fancy">We Appreciate Clients</h2>
			<h3 class="fancy">And Their Business</h3>
			<a href="/Contact">
				<button class="btn">BECOME A CLIENT</button>
			</a>
		</div>
	</section>
</Layout>

<style lang="scss">
	.about-me {
		background-image: url(../assets/images/aboutme1.png);
		background-size: cover;
		height: 90vh;
	}

	.client {
		background-image: url(../assets/images/Logo-background.png);
		background-size: contain;
		background-position: center;
	}
</style>
