---
import TheExperience from "../components/TheExperience.vue";
import Gridbackground from "../components/Gridbackground.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- <TheExperience client:load /> -->
		<Gridbackground />

	</main>
</Layout>
