<div class="wrapper">
    <div class="m-grid"></div>
    <div class="m-grid-top"></div>
    <div class="overlay"></div>
    <div class="m-logo">
        <div class="m-logo__wrap">
            <!-- <h1>Totally<br />Statical</h1>
            <div class="subtitle">Static Site Generator</div> -->
        </div>
    </div>
</div>
