---

---


<div class="wrapper">
    <div class="grid-container">
        <div class="m-grid"></div>
        <div class="m-grid-top"></div>
    </div>
    <div class="overlay"></div>
    <div class="m-logo">
        <div class="m-logo__wrap">
            <div class="center-content p-5">
                <div class="col-md">
                    <p>let’s talk about your next project</p>
                </div>
                <div class="form col-md col-12">
                    <form id="my-form" class="validator_form">
                        <input
                            class="name-email"
                            type="text"
                            placeholder="Name"
                            name="Name"
                            required
                        />

                        <input
                            class="name-email"
                            type="email"
                            placeholder="Email"
                            name="Email"
                            required
                        />

                        <input
                            class="name-email"
                            type="tel"
                            placeholder="Phone"
                            name="Email"
                            required
                        />

                        <br />

                        <textarea
                            id="message"
                            name="Message"
                            placeholder="Your Message..."
                            style="height:200px"
                            class="other-inputs"
                            required></textarea>

                        <br />

                        <div class="button_contact">
                            <input
                                type="hidden"
                                name="_next"
                                value="index.html"
                            />
                            <button
                                id="form-button"
                                class="btn"
                                type="submit"
                                value="submit">Send Email</button
                            >
                        </div>
                        <p id="my-form-status"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style lang="scss">
    .center-content {
        display: flex;
        place-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        gap: 2em;
        background-color: hsla(0, 0%, 9%, 0.8);
        width: 90vw;

        h1 {
            position: relative;
            top: 40px;
        }

        p {
            color: white;
        }

        .form {
            display: flex;
            flex-direction: column;

            .validator_form {
                display: flex;
                flex-direction: column;

                input {
                    background: none;
                    color: white;
                    position: relative;
                    border-bottom: 3px solid #00f0ff;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    padding: 1em;
                    font-family: "abolition", sans-serif;
                    &::placeholder {
                        color: white;
                    }
                }
                textarea {
                    background: none;
                    color: white;
                    position: relative;
                    border: 3px solid #00f0ff;
                    padding: 1em;
                    font-family: "abolition", sans-serif;
                    &::placeholder {
                        color: white;
                    }
                }
            }
        }

        .hero-context-text {
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: "abolition", sans-serif;
        }
    }
    .arrows-down {
        left: 50%;
        transform: translateY(0%) rotate(45deg);

        opacity: 0;
    }
    @keyframes scrolldown {
        0% {
            transform: translateY(20%) rotate(45deg);
            opacity: 0.7;
        }
        50% {
            transform: translateY(0%) rotate(45deg);
            opacity: 0.2;
        }
        100% {
            transform: translateY(20%) rotate(45deg);
            opacity: 0.7;
        }
    }

    @media (max-width:768px) {
        .center-content {
            flex-direction: column;
        }
    }
</style>
