<div class="wrapper">
    <div class="grid-container">
        <div class="m-grid"></div>
        <div class="m-grid-top"></div>
    </div>
    <div class="overlay"></div>
    <div class="m-logo">
        <div class="m-logo__wrap">
            <!-- <h1>Totally<br />Statical</h1>
            <div class="subtitle">Static Site Generator</div> -->
            <div class="center-content">
                <h4 class="hero-context-text">I AM</h4>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="416"
                    height="227"
                    viewBox="0 0 416 227"
                    version="1.1"
                >
                    <defs>
                        <filter id="stroke-filter">
                            <feTurbulence
                                baseFrequency=".005,.005"
                                numOctaves="3"
                                seed="1"
                                type="fractalNoise"
                                result="noise-r"></feTurbulence>
                            <feTurbulence
                                baseFrequency=".005,.005"
                                numOctaves="3"
                                seed="2"
                                type="fractalNoise"
                                result="noise-g"></feTurbulence>
                            <feTurbulence
                                baseFrequency=".005,.005"
                                numOctaves="3"
                                seed="3"
                                type="fractalNoise"
                                result="noise-b"></feTurbulence>
                            <feColorMatrix
                                in="SourceGraphic"
                                type="matrix"
                                values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                                result="sg-r"></feColorMatrix>
                            <feColorMatrix
                                in="SourceGraphic"
                                type="matrix"
                                values="0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0"
                                result="sg-g"></feColorMatrix>
                            <feColorMatrix
                                in="SourceGraphic"
                                type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0"
                                result="sg-b"></feColorMatrix>
                            <feDisplacementMap
                                in="sg-r"
                                in2="noise-r"
                                xChannelSelector="R"
                                yChannelSelector="G"
                                result="distort-r"
                            >
                                <animate
                                    attributeName="scale"
                                    values="300;0"
                                    dur="3.2s"></animate>
                            </feDisplacementMap>
                            <feDisplacementMap
                                in="sg-g"
                                in2="noise-g"
                                xChannelSelector="R"
                                yChannelSelector="G"
                                result="distort-g"
                            >
                                <animate
                                    attributeName="scale"
                                    values="300;0"
                                    dur="3.2s"></animate>
                            </feDisplacementMap>
                            <feDisplacementMap
                                in="sg-b"
                                in2="noise-b"
                                xChannelSelector="R"
                                yChannelSelector="G"
                                result="distort-b"
                            >
                                <animate
                                    attributeName="scale"
                                    values="300;0"
                                    dur="3.2s"></animate>
                            </feDisplacementMap>
                            <feBlend
                                in="distort-r"
                                in2="distort-g"
                                mode="lighten"
                                result="rg"></feBlend>
                            <feBlend
                                in="rg"
                                in2="distort-b"
                                mode="lighten"
                                result="rgb"></feBlend>
                            <feGaussianBlur
                                in="rgb"
                                stdDeviation="50"
                                result="blur"></feGaussianBlur>
                            <feBlend in="blur" in2="rgb" mode="normal"
                            ></feBlend>
                        </filter>
                        <filter id="fill-filter">
                            <feTurbulence
                                baseFrequency=".005,.005"
                                numOctaves="3"
                                seed="4"
                                type="fractalNoise"
                                result="noise"></feTurbulence>
                            <feDisplacementMap
                                in="SourceGraphic"
                                in2="noise"
                                xChannelSelector="R"
                                yChannelSelector="G"
                                result="distorted"
                            >
                                <animate
                                    attributeName="scale"
                                    values="250;70;30;5;0"
                                    dur="1s"
                                    begin="2.8s"></animate>
                            </feDisplacementMap>
                            <feGaussianBlur
                                in="distorted"
                                stdDeviation="10"
                                result="blur"
                            >
                                <animate
                                    attributeName="stdDeviation"
                                    values="30;18;12;10"
                                    dur="2s"
                                    begin="2.8s"></animate>
                            </feGaussianBlur>
                            <feBlend in="blur" in2="distorted" mode="normal"
                            ></feBlend>
                        </filter>
                    </defs>
                    <path
                        id="stroke-path"
                        d="M 64 24 L 64 48 134.500 48 L 205 48 205 24 L 205 0 134.500 0 L 64 0 64 24 M 211 24 L 211 48 281.532 48 C 357.740 48, 356.034 47.887, 361.834 53.298 C 369.804 60.733, 370.178 74.550, 362.633 82.845 C 357.278 88.733, 360.862 88.456, 283 89 L 211.500 89.500 211.243 158.286 L 210.986 227.071 287.243 226.786 L 363.500 226.500 370.242 223.877 C 380.936 219.717, 387.880 215.105, 396.650 206.338 C 405.572 197.420, 411.570 187.065, 414.490 175.540 C 416.491 167.643, 416.475 149.261, 414.461 141.460 C 412.485 133.803, 407.922 124.024, 403.542 118.058 L 400.094 113.361 403.664 108.430 C 408.270 102.070, 412.521 93.058, 414.461 85.540 C 416.489 77.686, 416.492 59.337, 414.468 51.460 C 408.400 27.845, 388.643 7.919, 365.404 1.975 C 358.057 0.096, 354.103 0, 284.340 0 L 211 0 211 24 M 157 133.982 L 157 179 78.500 179 L 0 179 0 203 L 0 227 102.507 227 L 205.014 227 204.757 158.250 L 204.500 89.500 180.750 89.232 L 157 88.964 157 133.982 M 259 158 L 259 179 306.250 178.984 C 353.420 178.967, 353.507 178.963, 357.500 176.712 C 359.700 175.471, 362.963 172.278, 364.750 169.615 C 372.745 157.706, 365.913 141.077, 351.779 138.046 C 348.803 137.408, 329.763 137, 302.951 137 L 259 137 259 158"
                    ></path>
                    <path
                        id="fill-path"
                        d="M 64 24 L 64 48 134.500 48 L 205 48 205 24 L 205 0 134.500 0 L 64 0 64 24 M 211 24 L 211 48 281.532 48 C 357.740 48, 356.034 47.887, 361.834 53.298 C 369.804 60.733, 370.178 74.550, 362.633 82.845 C 357.278 88.733, 360.862 88.456, 283 89 L 211.500 89.500 211.243 158.286 L 210.986 227.071 287.243 226.786 L 363.500 226.500 370.242 223.877 C 380.936 219.717, 387.880 215.105, 396.650 206.338 C 405.572 197.420, 411.570 187.065, 414.490 175.540 C 416.491 167.643, 416.475 149.261, 414.461 141.460 C 412.485 133.803, 407.922 124.024, 403.542 118.058 L 400.094 113.361 403.664 108.430 C 408.270 102.070, 412.521 93.058, 414.461 85.540 C 416.489 77.686, 416.492 59.337, 414.468 51.460 C 408.400 27.845, 388.643 7.919, 365.404 1.975 C 358.057 0.096, 354.103 0, 284.340 0 L 211 0 211 24 M 157 133.982 L 157 179 78.500 179 L 0 179 0 203 L 0 227 102.507 227 L 205.014 227 204.757 158.250 L 204.500 89.500 180.750 89.232 L 157 88.964 157 133.982 M 259 158 L 259 179 306.250 178.984 C 353.420 178.967, 353.507 178.963, 357.500 176.712 C 359.700 175.471, 362.963 172.278, 364.750 169.615 C 372.745 157.706, 365.913 141.077, 351.779 138.046 C 348.803 137.408, 329.763 137, 302.951 137 L 259 137 259 158"
                        fill-rule="evenodd"></path>
                </svg>
                <h4 class="hero-context-text">
                    graphic designer & web designer
                </h4>
            </div>
        </div>
    </div>
    <div
        class="arrows-down"
        style="width: 2em; height: 2em; background-color: transparent; z-index: 80;
            bottom: 25px; position: absolute; border-width: 0 0.25em 0.25em 0; border-style: solid; border-color: antiquewhite; animation: scrolldown 1.2s ease-in-out infinite 0.15s;"
    >
    </div>
    <div
        class="arrows-down"
        style="width: 2em; height: 2em; background-color: transparent; z-index: 80;
            bottom: 40px; position: absolute; border-width: 0 0.25em 0.25em 0; border-style: solid; border-color: antiquewhite; animation: scrolldown 1.2s ease-in-out infinite;"
    >
    </div>
</div>
<style lang="scss">
    .center-content {
        display: grid;
        place-content: center;
        height: 100vh;
        width: 100%;

        .hero-context-text {
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: "abolition", sans-serif;
        }
    }
    .arrows-down {
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(0%) rotate(45deg);
        opacity: 0;
    }
    @keyframes scrolldown {
        0% {
            transform: translateY(20%) rotate(45deg);
            opacity: 0.7;
        }
        50% {
            transform: translateY(0%) rotate(45deg);
            opacity: 0.2;
        }
        100% {
            transform: translateY(20%) rotate(45deg);
            opacity: 0.7;
        }
    }

    @media (max-width: 546px) {
        svg {
            width: 300px;
            height: auto;
        }
    }
</style>
