<footer class="container-fluid footer">
    <div class='container py-6 text-center'>
        <a class="navbar-logo" href="/">
            <p>K|ZVVO</p>
        </a>
        <nav class="navigation-menu d-none d-lg-flex align-items-center">
            <div class="menu-primary-container">
                <ul id="menu-primary" class="menu">
                    <li
                        class="menu-item menu-item-type-custom menu-item-object-custom"
                    >
                        <a href="about">About</a>
                    </li>
                    <li
                        class="menu-item menu-item-type-custom menu-item-object-custom"
                    >
                        <a href="about">Gallery</a>
                    </li>
                    <li
                        class="menu-item menu-item-type-custom menu-item-object-custom"
                    >
                        <a href="about">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="socials d-flex py-4">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
</footer>

<style lang="scss">
    .footer {


        .navbar-logo {
            color: white;
            text-decoration: none;

            p {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 4rem;
                font-family: "abolition", sans-serif;
                transition: all .2s ease-in-out;

                &:hover {
                    color: #00f0ff;
                }
            }
        }

        .navigation-menu {
            justify-content:center;
            .menu {
                list-style: none;
                margin: 0px;
                padding: 0px;
                text-align:center;

                .menu-item {
                    margin: 0px 15px 0px 15px;
                    display: inline-block;

                    a {
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 2rem;
                        font-family: "abolition", sans-serif;
                        transition: all .2s ease-in-out;

                        &:hover {
                            color: #00f0ff;
                        }
                    }
                }
            }
        }

        .socials {
            justify-content:center;

            i {
                margin: 0px 15px 0px 15px;
                color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 2rem;
                        transition: all .2s ease-in-out;

                        &:hover {
                            color: #00f0ff;
                        }
            }
        }
    }
</style>
